@import "tailwindcss";

:root {
  /* Color Palette */
  --terracotta: #c7634c;
  --cream: #FCE5DA;
  --teal: #88BFB4;
  --deep-blue: #256379;
  --dark-blue: #0B1C3C; /* Added dark blue */
  --silver: #cec6c4;
  --dark-silver: #2B2C2B;
  --white: #FEFAF7;

  /* Semantic Colors */
  --background: var(--white);
  --foreground: var(--dark-silver);
}

@theme inline {
  --color-terracotta: var(--terracotta);
  --color-cream: var(--cream);
  --color-teal: var(--teal);
  --color-deep-blue: var(--deep-blue);
  --color-dark-blue: var(--dark-blue);
  --color-silver: var(--silver);
  --color-dark-silver: var(--dark-silver);
  --color-white: var(--white);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-hanken: var(--font-hanken);
  --font-poppins: var(--font-poppins);
  
  --font-sans: var(--font-poppins), system-ui, sans-serif;
  --font-display: var(--font-hanken), system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  letter-spacing: -0.04em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  letter-spacing: -0.04em;
}

/* Global styles for animation */
.letter {
  display: inline-block;
  line-height: 1em;
}
