.card {
  width: 100%;
  padding: 24px 0;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.4); */
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0.75;
}

.active {
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.roomName {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 400;
  color: var(--white);
  margin: 0;
  line-height: 1;
}

.detailsContainer {
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.roomDetails {
  font-family: var(--font-sans);
  font-size: 16px;
  color: var(--white);
  display: flex;
  gap: 8px;
  white-space: nowrap;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.separator {
  margin: 0 8px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 8px; /* Reduced gap */
    align-items: flex-start; /* Align left */
  }

  .card{
    padding: 16px 0;
  }

  .roomName {
    font-size: 32px;
  }
  
  .roomDetails {
    font-size: 14px;
    white-space: normal; /* Allow wrapping on mobile */
    flex-wrap: wrap; /* Wrap details if needed */
    margin-top: 4px; /* Add spacing between title and details */
  }

  .detailsContainer {
    width: 100%; /* Ensure it takes full width */
  }
}
